<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conditionals Basics</title>
</head>
<body>
<h2> Basic Comparisons</h2>

{% if company == "Apple" %}
<h3> Available Apple Products</h3>
<ul>
  <li> MacBook </li>
  <li> iPhone </li>
  <li> iPad </li>
  <li> iMac </li>
</ul>

{% elif company == "Microsoft" %}
<h3> Available Microsoft Products </h3>
<ul>
  <li> Windows Phone </li>
  <li> Surface Pro </li>
  <li> Surface Book </li>
</ul>
{% else %}

<h3> No {{company}} Products available. </h3>

{% endif %}
</body>
</html>