<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python DS</title>
</head>
<body>
<h1> List Operations</h1>
<p> My top 3 web series are {{movies[0]}} , {{movies[1]}} and {{movies[2]}}</p>

<h1> Dictionary Operations </h1>
<p> Hi My name is {{information['first_name']}} {{information['last_name']}}, I am {{information['age']}} years old
    passionate {{information['job']}} engineer. </p>

<h1> Object interaction with Jinja2</h1>
<p> The four Galilean moons of Jupiter are {{ moons.first }}, {{ moons.second }}, {{moons.third}}, {{ moons.fourth }} </p>
</body>
</html>